@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bug-background {
    background: url(../public/assets/bug.jpg);
    background-size: cover;
    background-position: bottom;
}